/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}
#scoreContainer, #highScoreContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    color: white;
    margin: 4px 0px;
}
#scoreContainer{
    display: none;
}
#highScoreContainer{
    display: none;
}
#gameBoard{
    border: 5px solid white;
}
#btnGroups{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}
#btnGroups button, #btnGroups #selectBtn, #btnGroups #selectBtnColor{
    width: 200px;
    height: 50px;
    background-color: lightgray;
    font-size: 22px;
    border: 4px solid;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
#selectBtn{
    margin-top: 30px;
}
#countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    color: white;
    display: none;
}

/* INTRO PAGE */
#introPage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    z-index: 1;
}
#introPageText{
    width: 100%;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-align: center;
}
#snakePhoto{
    width: 200px;
}
#snakePhoto img{
    max-width: 100%;
}
#gameProgress{
    width: 80%;
    background-color: #ddd;
    border-radius: 20px;
}
#gameProgressBar{
    background-color: #4CAF50;
    width: 10px;
    height: 30px;
    border-radius: 20px;
}

/* MOBILE CONTROL BUTTONS */
#mobileBtnGroups{
    width: 100%;
    display: none;
}

@media screen and (max-width: 992px){
    body{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    #gameContainer{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 60%;
        width: 100%;
        position: relative;
    }
    #scoreContainer, #highScoreContainer{
        font-size: 22px;
    }
    #gameBoard{
        height: 90%;
        width: auto;
    }
    #btnGroups{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
    }
    #countdown{
        width: 100%;
        font-size: 60px;
    }
    
    /* INTRO PAGE */
    #introPage{
        position: absolute;
        top: 0px;
        left: 0px;
        transform: none;
        width: 100%;
        height: 100%;
    }
    #introPageText{
        font-size: 3rem;
        line-height: 3.6rem;
    }
    #snakePhoto{
        width: 50%;
    }
    
    /* MOBILE CONTROL BUTTONS */
    #mobileBtnGroups{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    #mobileBtnGroups button{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        outline: none;
        border: none;
        font-size: 36px;
        font-weight: bold;
        background-color: black;
        color: yellow;
        border: 3px solid yellow;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    #sideBtnGroups{
        display: flex;
        gap: 100px;
    }
}
@media screen and (max-width: 576px){
    #gameContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #gameBoard{
        height: auto;
        width: 90%;
        border: 5px solid white;
    }
    
    /* MOBILE CONTROL BUTTONS */
    #mobileBtnGroups button{
        width: 80px;
        height: 80px;
    }
    #sideBtnGroups{
        display: flex;
        gap: 80px;
    }
}